<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660598660773-266lp9mtf2t9sifhvbfqr46luarsch88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660598660773-266lp9mtf2t9sifhvbfqr46luarsch88</string>
	<key>API_KEY</key>
	<string>AIzaSyARD_PmlF__3BZBxrCA_4NjDWCOq6K2qJk</string>
	<key>GCM_SENDER_ID</key>
	<string>660598660773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quizorize.Quizorize</string>
	<key>PROJECT_ID</key>
	<string>quizorize</string>
	<key>STORAGE_BUCKET</key>
	<string>quizorize.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660598660773:ios:0d6e57e130e6537222b74c</string>
</dict>
</plist>